Thumbs.db
Desktop.ini
.htaccess

*.compiled

src/app/configs/app.ini
src/app/configs/database.ini
src/app/configs/security.ini

# PHPStorm
.idea/

# Mac OS X
.DS_Store

# Composer
src/app/vendor

# Nodejs
node_modules/