Thumbs.db
Desktop.ini
.htaccess
openvj-package.box
Vagrantfile

# Runtime
src/runtime/htmlpurifier_cache/*
src/runtime/compiled_templates/*
src/runtime/xdebug_profiler/*
src/runtime/doctrine/hydrators/*
src/runtime/doctrine/proxies/*

src/app/configs/app.ini
src/app/configs/database.ini
src/app/configs/security.ini

# PHPStorm
.idea/

# Mac OS X
.DS_Store

# Composer
src/app/composer.lock
src/app/vendor/
tools/phalcon_dev/vendor/

# Nodejs
node_modules/

# Vagrant
.vagrant/

# Vim
*~

#Debug
src/app/views/flat/test/*

!.gitkeep
