@charset "utf-8";
.reg-bg-container {
  height: 600px;
  position: relative;
  border: 40px solid #ececec;
  border-left: 0;
  border-right: 0;
}
.reg-bg-left,
.reg-bg-right {
  width: 50%;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: -1;
}
.reg-bg-left {
  left: 0;
  background: #0071ab;
}
.reg-bg-right {
  left: 50%;
  background: #231816;
}
.reg-bg {
  background: url("../img/register_bg.jpg") no-repeat center top;
  height: 600px;
}
.reg-form {
  height: 600px;
  width: 500px;
  float: right;
  background: rgba(0,0,0,0.4);
}
.reg-form-content {
  padding: 30px;
  color: #fff;
}
.reg-form-content h1,
.reg-form-content h2,
.reg-form-content h3 {
  color: #fff;
}
.reg-cont .textbox {
  background: rgba(255,255,255,0.5);
}
.reg-cont .textbox:hover {
  background: rgba(255,255,255,0.8);
}
.reg-cont .textbox:focus {
  background: #fff;
}
.reg-step {
  position: relative;
}
.reg-step1 {
  margin-top: 100px;
  padding: 30px 20px;
}
