@charset "utf-8";
.reg-bg-container {
  height: 600px;
  position: relative;
  border: 40px solid #ececec;
  border-left: 0;
  border-right: 0;
}
.reg-bg-left,
.reg-bg-right {
  width: 50%;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: -1;
}
.reg-bg-left {
  left: 0;
  background: #0071ab;
}
.reg-bg-right {
  left: 50%;
  background: #231816;
}
.reg-bg {
  background: url("../img/register_bg.jpg") no-repeat center top;
  height: 600px;
}
.reg-form {
  height: 600px;
  width: 500px;
  float: right;
  background: rgba(0,0,0,0.4);
}
.reg-form-content {
  padding: 30px;
  color: #ccc;
}
.reg-form-content h1,
.reg-form-content h2,
.reg-form-content h3 {
  color: #fff;
}
.reg-cont .textbox {
  background: rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.8);
}
.reg-cont .textbox:hover {
  background: rgba(255,255,255,0.8);
  color: #222;
}
.reg-cont .textbox:focus {
  background: #fff;
  color: #000;
}
.reg-step {
  position: relative;
}
.reg-step .button {
  margin: 0;
}
.reg-step0 {
  margin-top: 120px;
  padding: 0 20px;
}
.reg-step1 {
  margin-top: 80px;
  padding: 30px 20px;
}
.reg-step1-result {
  margin-top: 80px;
  padding: 30px 20px;
}
.reg-step1-result .role-email {
  color: #fff;
  font-size: 1.3em;
  font-weight: 300;
}
.reg-step2 {
  padding: 20px 20px;
}
.reg-label-t {
  display: inline-block;
  width: 110px;
  color: #fff;
}
.reg-label-input {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  cursor: pointer;
}
.reg-label-margin {
  margin-right: 20px;
}
