@charset "utf-8";


.page_manage {
  background: #fefefe;
}

.page_manage #container {
  min-width: 800px;
  margin: 0 auto;
}

.page_manage .cont-userbar {
  border-bottom: 1px solid #e0e0e0;
}

.page_manage .layout-col-cont {
  position: relative;
  z-index: 5;
}

.manage-sidebar-bg {
  position: absolute;
  top: 0;
  bottom: 100px;
  right: 0;
  width: 250px;
  background: #eff9fc;
  border-left: 1px solid #d7f2ff;
  z-index: 0;
}

.manage-sidebar {
  padding: 20px 0;
  font-size: .9em;
}

.manage-sidebar-a {
  display: block;
  padding: 5px 20px;
}

.manage-sidebar-a:hover {
  text-decoration: none;
  background: #3eb2f1;
  color: #fff;
}

.manage-sidebar-a.active {
  text-decoration: none;
  background: #119eea;
  color: #fff;
}

.manage-sidebar-headline {
  margin: 15px 0 0 0;
  padding: 5px 20px;
}

.manage-cont {
  padding: 20px;
}

.acl-table-th {
  font-size: .85em;
  font-weight: 300;
  line-height: 2.5em;
}

.acl-table-headtr {
  text-align: left;
  background: #119eea;
  color: #fff;
}

.acl-table-bodytr {
  font-size: .7em;
  line-height: 2.2em;
  vertical-align: top;
}

.acl-table-bodytr:nth-child(even) {
  background: #f4f4f4;
}

.acl-table-bodytr:hover {
  background: #cbe0f5;
  opacity: .8;
}

.acl-table-bodytr.parent {
  background: #fdf1cc;
}

.acl-table td,
.acl-table th {
  padding: 0 5px;
}

.acl-table .cx {
  width: 60px;
  position: relative;
}

.acl-table .c3 div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.acl-table [data-flag="f"] {
  background: #ff4c4c;
}

.acl-table [data-flag="fi"] {
  background: #ffa6a6;
}

.acl-table [data-flag="t"] {
  background: #94db70;
}

.acl-table [data-flag="ti"] {
  background: #caedb8;
}

.manage-acl {
  position: relative;
}